{% block content %}

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Address ID</th>
        <th>Building</th>  
        <th>Street</th>  
        <th>Landmark</th> 
        <th>City</th>  
        <th>State</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for address in addressList %}  
    <tr>  
        <td>{{ address.add_id }}</td> 
        <td>{{ address.building }}</td> 
        <td>{{ address.street }}</td>  
        <td>{{ address.landmark }}</td>
        <td>{{ address.city }}</td>  
        <td>{{ address.state }}</td>
        <td>{{ address.country }}</td>  
        <td>  
            <form action="" method="POST">
                {% csrf_token %}
                <label id="edit">Edit</label>
                <input type="checkbox" id="edit" name="edit" value="{{ address.add_id }}" >
                <label id="edit">Delete</label>
                <input type="checkbox" id="delete" name="delete" value="{{ address.add_id }}" >
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
  

{% end block %}