{% block content %}
<center>
<h1>Sign In Form</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label>Enter mobile Number</label>
    <input type="text" name="mobile-number">
    <br>
    <label id="number-exists"> 10 digits</label>
    <br>
    <label>Select Role</label>
    <input type="radio" name="UserType" value="FoodProvider"><label>Food Provider</label>
    <input type="radio" name="UserType" value="FoodSeeker"><label>Food Seeker</label>
    <button class="btn btn-primary">Submit</button>
</form>


{% if result == 0 %}

<script>
    
        label_id=document.getElementById("number-exists");
        console.log(label_id);
        label_id.innerHTML="<div>Number Does Not Exist<br><a>Sign Up</a></div>";
        console.log(label_id);
    
</script>
{% else %}
<script>
    label_id=document.getElementById("number-exists");
    label_id.innerHTML="";
</script>
{% endif %}
</center>
{% endblock %}